HOST="toBeModified"
APP_KEYS="toBeModified"
API_TOKEN_SALT="toBeModified"
ADMIN_JWT_SECRET="toBeModified"
TRANSFER_TOKEN_SALT="toBeModified"

DATABASE_CLIENT="toBeModified"
DATABASE_HOST="toBeModified"
DATABASE_PORT="toBeModified"
DATABASE_NAME="toBeModified"
DATABASE_USERNAME="toBeModified"
DATABASE_PASSWORD="toBeModified"
DATABASE_SSL="toBeModified"

DOCKER_REGISTRY="toBeModified"
VIRTUAL_HOST="toBeModified"
VIRTUAL_PORT="toBeModified"
PORT="toBeModified"
LETSENCRYPT_HOST="toBeModified"
LETSENCRYPT_EMAIL="toBeModified"
NODE_ENV="toBeModified"
